<div class="navbar-container">
    <div class="app-name">Milligram</div>
    <div class="links">
        <a routerLink="/feed" routerLinkActive="active-link">
            <i class="ti ti-home" aria-hidden="true"></i>
            <span>Feed</span>
        </a>
        <a routerLink="/chat" routerLinkActive="active-link">
            <i class="ti ti-message-circle" aria-hidden="true"></i>
            <span>Chat</span>
        </a>
    </div>
    <div class="profile">
        <a routerLink="/account/profile" routerLinkActive="active-link" class="avatar-link">
            <span class="avatar">
                <i class="ti ti-user" aria-hidden="true"></i>
            </span>
        </a>
    </div>

</div>